body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color:  #66BFBF;

}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color:  #66BFBF;
  font-weight: normal;

}

h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a {
  color: #11999E;
}
/*----------------CONTAINERS CLASS------------------*/

.top-container{
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;

}

img.top-cloud{
  position: absolute;
  left: 760px;
  top: 50px;
}

img.bottom-cloud{
  position: absolute;
  bottom: 300px;
  left: 300px;
}

.skill-row {
  margin: 100px auto 100px auto;
  width: 50%;
  text-align: left;
  line-height: 2;
}

.draw-image{
  width: 25%;
  float: left;
  margin-right: 25px;
  
}

.art-image{
  width: 25%;
  float: right;
  margin-left: 25px;
}

.icon {
  width: 15%;
  background-color: #E4F9F5;
  border-radius: 100%;
  margin-top: 50px;
  text-align: center;
}
